p, li {
    font-size: 1.25em;    
    color: #363940;
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
    line-height: 1.9;
}

.dash-graph {
    padding: 10px;
    border: 3px solid #c90229;
    border-radius: 25px;
    margin: 20px 0px;
}

body {
    max-width: 70%;
    margin: 0 auto;  
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    border-bottom: 3px solid #c90229;
    padding-top: 1rem;
}

.max-window {
    height: 85vh;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #c90229;
}

